* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;

    background:url(/images/pexels-cottonbro-9694217.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
    height: 100vh;
}
img {
    max-width: 100%;
}
p {
   text-align: justify;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.baslik {
    color: var(--renk-beyaz);
    font-size: 3rem;
}
:root {
    scroll-behavior: smooth;

    --renk-beyaz:#E0E2DF;
    --renk-beyazo:#e0e2dfad;
    --renk-siyah:#010101;
    
    --image-ovallik3:8px;
    --image-ovallik:16px;
    --image-ovallik2:32px;
}
.oval1 {
    border-radius: var(--image-ovallik);
    border: 1px solid rgba(0, 0, 0, 0.63);
}
textarea {
    resize: none;
}
.arka{
    background-color: var(--renk-beyazo);
    border-radius: var(--image-ovallik2);
}
li {
    list-style-type: none;
}
.t-center {
    text-align: center;
}
.a-center {
    align-items: center;
}

.flex-kutu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.flex-kolon {
    display: flex;
    flex-direction: column;
}
.uflex {
    display: block;
}
.italic {
    font-style: italic;
}
header {
    padding: 0.5rem 4rem;
    border-radius: 10px;
}
#yancizgi {
    position: absolute;
    top: 40%;    
}
.column {
    display: flex;
    column-gap: 2rem;
}
.aralar {
    margin:2rem 0 ;
    padding-right:2rem ;
}
.aralar a,ol {
    color: white;
}
.f-aralar a {
    margin: 0.7rem;
}
.resim {
    width: 900px;
    border-radius: var(--image-ovallik);
}

.h2-birinci {
    font-size:2rem ;
}
.p-birinci {
    font-size: 1.2rem;
}
.hakkında {
    padding: 1rem;

    position: absolute;
    left: 13%;
    top: 40%;
}
.kucukresim {
    border-radius: var(--image-ovallik);
    width: 300px;
    height: 200px;

    position: absolute;
    top: 20%;
    right: 8%;

    z-index: 2;
}
.buyut {
    align-items: center;
    font-size: 1.2rem;
}
.dene {
    align-self: center;
    padding: 1rem;
}
.form {
    width: 350px;
    height: 3rem;

    margin-top: 10px;
    border: 1px solid black;    
    border-radius: var(--image-ovallik3);
}
.buton {
    margin:1.2rem 2.5rem;
    padding: 0.5rem ;

    width: 100px;
    border: 1px solid black;
    border-radius: var(--image-ovallik3);

}
.pad1rem {
    padding: 1rem;
}
.sertifika:hover {
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
     transform: scale(1.3); 
}
.sertifikalar {
    display: flex;
    gap: 4rem;
}
.ikili {
    max-width:12vw ;
    display: flex;
    flex-direction:column ;
}